<script id="showcase" type="text/x-jsrender" >
    <div>
        <img id="showcaseImage" src"https://image.tmdb.org/t/p/original{{:backdrop_path}}" class="lozad" alt="test image"></img>
        <div class="center-left">
            <h1 id="showcaseTitle">{{:original_title}}</h1>
            <p id="showcaseOverview">{{:overview}}</p>
            <p id="showcaseRatings">{{:vote_average}}</p>
            <p id="showcaseReleased">{{:release_date}}</p>
            <p id="showcaseLanguage">{{:original_language}}</p>
            <a id="showcasePreview" class="btn btn-white btn-animate">Preview </a>
            <a id="showcaseBook" class="btn btn-white btn-animate">Book </a>
            <a id="showcaseYoutube" class="btn btn-white btn-animate">Trailer </a>
            <a id="showcaseWishList" class="btn btn-white btn-animate">Wish List</a>
        </div>
    </div>
</script>]